aviz-playback-controls {
    user-select: none;
}

aviz-playback-controls .button-container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}

aviz-playback-controls .load-button {
    background: #466c78;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #9f9f9f;
    color: whitesmoke;
    float: right;
    width: 105px;

    position: relative;
    overflow: hidden;
    margin: 5px;
}

aviz-playback-controls .load-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

aviz-playback-controls .load-button div {
    margin-top: 10px;
    margin-left: 20px;
}

aviz-playback-controls .time-display {
    color: whitesmoke;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding-bottom: 16px;
    vertical-align: bottom;
}

aviz-playback-controls .animation-selector {
    display: inline-block;
    border: 1px solid #9f9f9f;
    width: 120px;
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
    background: #466c78 url("../../../assets/caret-down.png") no-repeat 90% 50%;
    background-size: 10%;
}

aviz-playback-controls .animation-selector select {
    padding: 9px 8px;
    color: whitesmoke;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

aviz-playback-controls .animation-selector select:focus {
    outline: none;
}

aviz-playback-controls .btn {
    height: 32px;
    width: 32px;
    background-color: #466c78;
    display: inline-block;
    background-size: 30%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-style: solid;
    border-color: #9f9f9f;
    border-width: 1px;
    cursor: pointer;
}

aviz-playback-controls .btn:hover {
    background-color: #6b9ba8;
}

aviz-playback-controls .fast-backward {
    background-image: url('../../../assets/fast-backward_btn.png');
}

aviz-playback-controls .fast-forward {
    background-image: url('../../../assets/fast-forward_btn.png');
}

aviz-playback-controls .step-backward {
    background-image: url('../../../assets/step-back_btn.png');
}

aviz-playback-controls .step-forward {
    background-image: url('../../../assets/step-forward_btn.png');
}

aviz-playback-controls .play {
    background-image: url('../../../assets/play_btn.png');
}

aviz-playback-controls .pause {
    background-image: url('../../../assets/pause_btn.png');
}
