aviz-samplers-list ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: scroll;
}

aviz-samplers-list li:not(:last-child) {
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

aviz-samplers-list li.disabled:not(:last-child) {
    border-bottom-color: #8a8a8a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

aviz-samplers-list li {
    list-style: none;
    height: 120px;
    background-color: #202929;
}

aviz-samplers-list li .interpolation {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    font-weight: bold;
    display: block;
}

aviz-samplers-list li .transform {
    font-size: x-small;
    background-color: #3f4a4a;
    padding-left: 5px;
    padding-bottom: 8px;
}

aviz-samplers-list li .transform .input,
aviz-samplers-list li .transform .output,
aviz-samplers-list li .transform .delta {
    padding-top: 3px;
    display: block;
}

aviz-samplers-list li .transform .input div.value,
aviz-samplers-list li .transform .output div.value,
aviz-samplers-list li .transform .delta div.value {
    width: 30px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;

}

aviz-samplers-list li .transform .input .input-label,
aviz-samplers-list li .transform .output .output-label,
aviz-samplers-list li .transform .delta .delta-label {
    background-color: darkslategrey;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    width: 7px;
    padding: 2px;
    padding-left: 4px;
    margin-right: 10px;
    display: inline-block;
}
