aviz-channels-list ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: scroll;
}

aviz-channels-list li:not(:last-child) {
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

aviz-channels-list li.disabled:not(:last-child) {
    border-bottom-color: #8a8a8a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

aviz-channels-list li {
    list-style: none;
    height: 40px;
    display: flex;
}
