aviz-nodes-list {
    border-style: solid;
    border-width: 1px;
    border-color: #466c78;
}

aviz-nodes-list .node-header,
aviz-nodes-list .breadcrumbs {
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: x-small;
    font-weight: bold;
    background-color: #466c78;
}

aviz-nodes-list .node-header {
    padding-top: 15px;
}

aviz-nodes-list .breadcrumbs {
    cursor: pointer;
}

aviz-nodes-list .breadcrumbs span.circle::before {
    content: "—";
    margin-left: -5px;
    font-weight: bold;
}

aviz-nodes-list ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: scroll;
}

aviz-nodes-list li:not(:last-child) {
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

aviz-nodes-list li.disabled:not(:last-child) {
    border-bottom-color: #8a8a8a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

aviz-nodes-list .breadcrumbs span.circle {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: whitesmoke;
    display: inline-block;
}

aviz-nodes-list li {
    list-style: none;
    background-color: #202929;
}

aviz-nodes-list li .transform {
    font-size: x-small;
    background-color: #3f4a4a;
    padding-left: 5px;
    padding-bottom: 8px;
}

aviz-nodes-list li .name {
    font-size: x-small;
    padding-top: 10px;
}

aviz-nodes-list li .expand {
    cursor: pointer;
    text-align: right;
    padding-bottom: 5px;
}

aviz-nodes-list .expand a {
    font-weight: lighter;
    font-size: x-small;
    text-decoration: underline;
}

aviz-nodes-list li p {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}

aviz-nodes-list li .transform .scale,
aviz-nodes-list li .transform .position,
aviz-nodes-list li .transform .rotation {
    padding-top: 3px;
    display: block;
}

aviz-nodes-list li .transform .scale div.value,
aviz-nodes-list li .transform .position div.value,
aviz-nodes-list li .transform .rotation div.value {
    width: 25px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

aviz-nodes-list li .transform .scale .transform-label,
aviz-nodes-list li .transform .position .transform-label,
aviz-nodes-list li .transform .rotation .transform-label {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 7px;
    padding: 2px;
    color: black;
    padding-left: 3px;
    margin-right: 10px;
    display: inline-block;
}

aviz-nodes-list li .transform .position .transform-label {
    background-color: #00ff01;
}

aviz-nodes-list li .transform .scale .transform-label {
    background-color: #ffff01;
}

aviz-nodes-list li .transform .rotation .transform-label {
    background-color: #ffa500;
}
