aviz-timeline {
    font-size: x-small;
    overflow: hidden;
    user-select: none;
}

aviz-timeline .timeline .timeline-view {
    position: relative;
}

aviz-timeline .timeline .playback-line {
    width: 1px;
    height: 100%;
    background-color: #7cbfcd;
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 150px;
}

aviz-timeline .timeline .animation-header {
    padding: 10px;
    margin-top: 10px;
    background-color: #535353;
}

aviz-timeline .timeline {
    height: calc(100% - 4px);
    width: calc(100% - 114px);
    display: inline-block;
}

aviz-timeline .timeline-track {
    background-color: #3f4a4a;
    padding-top: 5px;
    margin-top: 1px;
}

aviz-timeline .timeline-track.selected {
    background-color: #5a5e12;
}

aviz-timeline .timeline-timelabels .tick-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

aviz-timeline .timeline-track div.track-label {
    font-size: x-small;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

aviz-timeline .timeline-track div.track-label .icon-eye {
    height: 8px;
    width: 15px;
    background-size: 15px 8px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

aviz-timeline .timeline-track div.track-label .icon-eye.on {
    background-image: url("../../../assets/icon-eye.png");
}

aviz-timeline .timeline-track div.track-label .icon-eye.off {
    background-image: url("../../../assets/icon-eye-off.png");
}

aviz-timeline .timeline-track canvas {
    padding: 2px;
}

aviz-timeline .timeline-view {
    height: calc(100% - 34px);
    width: calc(100% - 2px);
    overflow: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: #466c78;
    background-color: #202929;
}

aviz-timeline .timeline-timelabels {
    position: relative;
    height: 34px;
    width: calc(100% - 2px);
    overflow: hidden;
    background-color: #466c78;
    border-style: solid;
    border-width: 1px;
    border-color: #466c78;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: whitesmoke;
}

aviz-timeline .timeline-timelabels .playback-head {
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #95d5e6 transparent;
}

aviz-timeline .keyframe-info {
    width: 100px;
    height: 100%;
    float: right;
    padding-left: 10px;
    background-color: #466c78;
    overflow-y: scroll;
}

aviz-timeline .keyframe-info .item .label {
    font-weight: bolder;
    width: 20px;
    display: inline-block;
}

aviz-timeline .keyframe-info .item {
    border-left-style: solid;
    border-left-width: 5px;
    padding-left: 5px;
    padding-right: 15px;
}

aviz-timeline .keyframe-info .item .axis {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: whitesmoke;
    padding-top: 5px;
}

aviz-timeline .keyframe-info .item.position {
    border-left-color: #00ff00;
}

aviz-timeline .keyframe-info .item.rotation {
    border-left-color: #ffa500;
}

aviz-timeline .keyframe-info .item.scale {
    border-left-color: #ffff00;
}

aviz-timeline input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #466c78;
    margin-top: 5px;
    margin-left: -1px;
}
aviz-timeline input[type=range]:focus {
    outline: none;
}
aviz-timeline input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: #5b8693;
    border-radius: 4.5px;
}
aviz-timeline input[type=range]::-webkit-slider-thumb {
    height: 5px;
    width: 5px;
    border-radius: 8px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 1.3px;
}
aviz-timeline input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6793a1;
}
aviz-timeline input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: #5b8693;
    border-radius: 4.5px;
}
aviz-timeline input[type=range]::-moz-range-thumb {
    height: 5px;
    width: 5px;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
}
aviz-timeline input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
aviz-timeline input[type=range]::-ms-fill-lower {
    background: #517883;
    border-radius: 9px;
}
aviz-timeline input[type=range]::-ms-fill-upper {
    background: #5b8693;
    border-radius: 9px;
}
aviz-timeline input[type=range]::-ms-thumb {
    width: 5px;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
    height: 5px;
}
aviz-timeline input[type=range]:focus::-ms-fill-lower {
    background: #5b8693;
}
aviz-timeline input[type=range]:focus::-ms-fill-upper {
    background: #6793a1;
}
